<% @category_presenter ||= ::Presenter::Categories.new %>

<div class="panel small-12 columns clearfix">
  <div class='center'>
    <h4>Search for A Provider</h4>
  </div>
  <div class='row'>
    <div class='small-3 columns'>Category</div>
    <div class='small-3 columns'>Specialty</div>
    <div class='small-6 columns'>Services</div>
  </div>

  <div class='row' id="category-search">

    <div id="testout">
    </div>

    <div id="category-dropdown" class='small-3 columns'>
      <%= f.select :category, @category_presenter.categories, class: 'search-dropdown' %>
    </div>
    <div id="specialty-drowndown" class='small-3 columns'>
      <%= f.select :specialty, @category_presenter.specialties(params[:category]), class: 'search-dropdown' %>
    </div>
    <div id="service-dropdown" class='small-3 columns'>
      <%#= f.select :service, [], include_blank: true, class: 'search-dropdown'  %>
      <%= f.text_field :service  %>
    </div>

    <div class='small-3 columns'>
      <a href="" class="button round small success">SEARCH</a>
    </div>
  </div>

</div>
