<p id="notice"><%= notice %></p>
Is show.html.erb ever used?  NO
<div class='container'>
  <div class='panel small-4 large-12 columns clearfix'
    <div class='row'>
      <%= render partial: 'event_summary' %>
    </div>
  </div>
</div>

