<h2>Frequently Asked Questions</h2>

<p>What is ServiceFinder?</p>

<p>Who can use ServiceFinder?</p>

<p>As a Service Provider, why should I use ServiceFinder?</p>

<p>As the client of a Provider, why should I use ServiceFinder?</p>

<p>As a user, are there other benefits for using ServiceFinder?  <em>example:</em> keeping personal health data</p>

<p>Can a Provider see my notes about an Event?</p>

...
